In [1]:
123
type(123)

int

In [2]:
123.45
type(123.45)

float

In [3]:
'123.45'
type('123.45')

str

In [4]:
sign_up = True
print(type(sign_up))

<class 'bool'>

In [5]:
x = 123
y = 123.45
z = '123.45'
print(x,y,z)
print(type(x),type(y),type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

In [6]:
print('Hello, world!')

Hello, world!

In [8]:
z = 'The result of' + str(x) + '+' + str(y) + "=" + str(x+y)
print(z)

The result of123+123.45=246.45

In [9]:
z = 'I am from CUC.'
print(z[0:4])
print(z[0:14])
print(z[-3:])

I am
I am from CUC.
UC.

In [10]:
print(len(z))

14

In [11]:
famous_person = 'Princess Diana'
famous_person2 = famous_person.replace('Diana','Kate')
print(famous_person, famous_person2)

Princess Diana Princess Kate

In [12]:
print(famous_person2.split())

['Princess', 'Kate']

In [20]:
famous_person3 = 'Prince Charles'
famous_person4 = famous_person3.replace('Charles','William')
print(famous_person3, famous_person4)

Prince Charles Prince William

In [21]:
print(famous_person4.find('William'))
print(famous_person4.find('Charles'))

7
-1

In [22]:
print(famous_person4.upper())

PRINCE WILLIAM

In [23]:
tuple1=(1,1.32,2,'CUC')
list1=[1,1.32,2,'CUC']
print(tuple1)
print(list1)

(1, 1.32, 2, 'CUC')
[1, 1.32, 2, 'CUC']

In [24]:
myList =[1,2,3,4,1.5]
print(sorted(myList))

[1, 1.5, 2, 3, 4]

In [28]:
score_list = [100,90,80,60,60.5,70]
print(score_list[3])
score_list.append(50)
print(score_list)
del(score_list[6])
print(score_list)
print(score_list[3:7])

60
[100, 90, 80, 60, 60.5, 70, 50]
[100, 90, 80, 60, 60.5, 70]
[60, 60.5, 70]

In [32]:
score_list.append([1,2,3,'I am from CUC',True])
print(score_list)
second_list =[11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)
score_list.remove(100)
print(score_list)

[100, 90, 80, 60, 60.5, 70, [1, 2, 3, 'I am from CUC', True], [1, 2, 3, 'I am from CUC', True], [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]], [1, 2, 3, 'I am from CUC', True]]
[100, 90, 80, 60, 60.5, 70, [1, 2, 3, 'I am from CUC', True], [1, 2, 3, 'I am from CUC', True], [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]], [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]
[90, 80, 60, 60.5, 70, [1, 2, 3, 'I am from CUC', True], [1, 2, 3, 'I am from CUC', True], [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]], [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [40]:
s1 = {1,2,3}
s2 = set([1,2,3])
type(s1)
type(s2)
my_set = {1,2,2,3,3,4}
print(my_set)

{1, 2, 3, 4}

In [38]:
dict1 = {'Peter':80,'Mary':90,'David':70}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1['Peter'])
score_list = []
score_list.append(dict1)
print(score_list)

{'Peter': 80, 'Mary': 90, 'David': 70}
dict_keys(['Peter', 'Mary', 'David'])
dict_values([80, 90, 70])
80
[{'Peter': 80, 'Mary': 90, 'David': 70}]

In [39]:
test1 = {'Peter':50,'Mary':80,'David':80}
assignment1 = {'Peter':80,'Mary':90,'David':70}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

[{'Peter': 50, 'Mary': 80, 'David': 80}, {'Peter': 80, 'Mary': 90, 'David': 70}]